@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, span, label {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-family: 'Inter', sans-serif;
}